{{ ansible_managed | comment }}

vrrp_script chk_haproxy {
  script '/usr/bin/killall -0 haproxy'
  interval 2
}

vrrp_instance haproxy-vip {
  interface eth0
  state {{ state }}
  priority {{ priority }}

  virtual_router_id {{ virtual_router_id }}

  virtual_ipaddress {
    {{ keepalived_vip }}
  }

  track_script {
    chk_haproxy
  }
}
