---
load_balancer:
  hosts:
    10.69.30.20:
      ansible_ssh_user: srvadm
    10.69.30.21:
      ansible_ssh_user: srvadm
  vars:
    keepalived_virtual_ip: 10.69.35.10/16
    haproxy_backend_servers:
      - 10.69.35.100
      - 10.69.35.101
      - 10.69.35.102
